.spacing-large {
  padding: 6rem; }

.spacing-medium {
  padding: 2.5rem; }

.spacing-small {
  padding: 2rem; }

.spacing-xsmall {
  padding: 1.5rem; }

.Servicios #Servicios {
  background-color: #CAD2C5; }
  .Servicios #Servicios #grid_servicios {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 2.5rem;
    column-gap: 2rem; }
    .Servicios #Servicios #grid_servicios .tarjetas--title {
      grid-column: 1/4; }
      .Servicios #Servicios #grid_servicios .tarjetas--title h1 {
        color: black;
        font-family: Rye;
        font-size: 40px;
        font-weight: 200;
        text-decoration: underline;
        text-transform: uppercase;
        text-align: center; }
    .Servicios #Servicios #grid_servicios .tarjetas--boxsize {
      max-width: 100%;
      background-color: #84A98C;
      margin: 30px;
      text-align: center;
      border: 10px;
      border-color: black;
      border-style: double; }
      .Servicios #Servicios #grid_servicios .tarjetas--boxsize h2 {
        color: white;
        font-family: Rye;
        font-size: 32px;
        font-weight: 200;
        text-transform: uppercase;
        text-align: center; }
      .Servicios #Servicios #grid_servicios .tarjetas--boxsize .tarjetas__imagenes--size {
        width: 290px;
        height: 260px; }
      .Servicios #Servicios #grid_servicios .tarjetas--boxsize .menu__item {
        color: white;
        font-family: Lato;
        font-size: 24px;
        font-weight: 800;
        text-align: center;
        line-height: 45px;
        list-style: none; }
