<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/index.css">
</head>
<body>
    <header class="header">
        <nav>
            <picture>
                <img src="../Imagenes/Logo.svg"  alt="Logo" class="header__logo">
           </picture>
           <ul class="header__menu">
                <li class="menu-header__item">
                    <a href="../index.html" class="menu-header__link">Inicio</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/servicios.html" class="menu-header__link">Servicios</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/nosotros.html" class="menu-header__link">Nosotros</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/ubicacion.html" class="menu-header__link">Ubicacion</a>
                </li>
           </ul>
        </nav>
    </header>
    <section id="Formulario">
        <article>
            <H1>Contactanos</H1>
            <h2>Dejanos tu Consulta</h2>
            <form action="" method="post" enctype="text/plain" class="formulario">
              <label for="Nombre" class="formulario__label">Nombre:</label>
              <input type="text" name="Nombre" class="formulario__input">
              <label for="Email" class="formulario__label">Email:</label>
              <input type="email" name="Email" class="formulario__input">
              <label for="Telefono" class="formulario__label">Tel:</label>
              <input type="tel" name="Telefono" class="formulario__input">
              <br/>
              <br/>
              <label for="vehiculo" class="formulario__label">Vehiculo:</label>
              <input type="text" name="vehiculo" class="formulario__input">
              <label for="Consulta" class="formulario__label">Consulta:</label>
              <textarea name="Consulta" id="" cols="30" rows="10" class="formulario__input"></textarea>
              <input type="submit" value="Enviar" class="formulario__botton">
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
            </form>
        </article>
    </section>
    <footer class="footer">
        <section class="footer__menuyimg">
         <ul class="footer__menu">
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">Nuestras redes:</li>
               <ul>
                 <li class="footer-menu__menu__item">Facebook</li>
                 <li class="footer-menu__menu__item">Instagram</li>
                 <li class="footer-menu__menu__item">Youtube</li>
               </ul>
            </div>
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">Nuestros horarios:</li>
               <ul>
                  <li class="footer-menu__menu__item">Lu-Jue 08:00 a 19:00 Hrs</li>
                  <li class="footer-menu__menu__item">Vie 08:30 a 18:30 Hrs</li>
                  <li class="footer-menu__menu__item">Sa-Dom Cerrado</li>
               </ul>
            </div>
            <div class="footer__menu--boxsize">
             <li>
                <a href="./Views/contacto.html" class="footer-menu__item">Contacto</a>
             </li>
            </div>
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">
                 <a href="./Views/ubicacion.html" class="footer-menu__item">Ubicacion</a>
             </li>
            </div>
         </ul>
         <picture>
         <img src="../Imagenes/Logo footer.svg" alt="Imagen Logo" class="footer__logo">
        </picture>
       </section>
         <br/>
         <h4 class="footer__copy">© 2022 Cor Competición, todos los derechos reservados.</h4>
     </footer>
</body>
</html>