<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/index.css">
</head>
<body>
    <header class="header">
        <nav>
            <picture>
                <img src="../Imagenes/Logo.svg"  alt="Logo" class="header__logo">
           </picture>
           <ul class="header__menu">
                <li class="menu-header__item">
                    <a href="../index.html" class="menu-header__link">Inicio</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/servicios.html" class="menu-header__link">Servicios</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/ubicacion.html" class="menu-header__link">Ubicacion</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/contacto.html" class="menu-header__link">Contacto</a>
                </li>
           </ul>
        </nav>
    </header>
    <main>
        <section id="Historia">
            <article>
                <h1>Nuestra historia</h1>
                <div>
                     <img src="../Imagenes/Imagenes nuestra historia/Taller1.png" id="taller escaleras">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat pariatur ab aperiam quasi maxime veritatis ad vero debitis molestiae? Atque, architecto. Saepe temporibus cupiditate ad, animi iste sunt aperiam doloribus?</p>
                </div>
            </article>
            <article>
                <div>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis unde rerum, fugiat qui, architecto quasi consectetur perferendis delectus placeat, quae modi laboriosam expedita iure quidem reiciendis! Dolor nobis perferendis cupiditate.</p>
                     <img src="../Imagenes/Imagenes nuestra historia/Taller2.jpg" id="taller escritorio">
                </div>
            </article>
        </section>
        <section id="Equipo">
            <article>
                <h2>El Equipo</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab placeat sunt optio consectetur, architecto neque sequi pariatur quod, eaque, rem dolorem inventore a facere aperiam debitis est. Nobis, debitis sit.</p>
                <img src="../Imagenes/Imagenes nuestra historia/Taller3.jpg" id="equipo">
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__menuyimg">
         <ul class="footer__menu">
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">Nuestras redes:</li>
               <ul>
                 <li class="footer-menu__menu__item">Facebook</li>
                 <li class="footer-menu__menu__item">Instagram</li>
                 <li class="footer-menu__menu__item">Youtube</li>
               </ul>
            </div>
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">Nuestros horarios:</li>
               <ul>
                  <li class="footer-menu__menu__item">Lu-Jue 08:00 a 19:00 Hrs</li>
                  <li class="footer-menu__menu__item">Vie 08:30 a 18:30 Hrs</li>
                  <li class="footer-menu__menu__item">Sa-Dom Cerrado</li>
               </ul>
            </div>
            <div class="footer__menu--boxsize">
             <li>
                <a href="./Views/contacto.html" class="footer-menu__item">Contacto</a>
             </li>
            </div>
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">
                 <a href="./Views/ubicacion.html" class="footer-menu__item">Ubicacion</a>
             </li>
            </div>
         </ul>
         <picture>
         <img src="../Imagenes/Logo footer.svg" alt="Imagen Logo" class="footer__logo">
        </picture>
       </section>
         <br/>
         <h4 class="footer__copy">© 2022 Cor Competición, todos los derechos reservados.</h4>
     </footer>
</body>
</html>