<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/index.css">
</head>
<body>
    <header class="header">
        <nav>
            <picture>
                <img src="../Imagenes/Logo Header.png"  alt="Logo" class="header__logo">
           </picture>
           <ul class="header__menu">
                <li class="menu-header__item">
                    <a href="../index.html" class="menu-header__link">Inicio</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/nosotros.html" class="menu-header__link">Sobre nosotros</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/ubicacion.html" class="menu-header__link">Donde encontrarnos</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/contacto.html" class="menu-header__link">Contactanos</a>
                </li>
           </ul>
        </nav>
    </header>
    <section id="Servicios">
        <article id="grid_servicios">
            <div class="tajetas--title">
                 <br/>
                 <h1>Servicios</h1>
                 <br/>
            </div>
            <div class="tarjetas--boxsize">
                 <h2>Electronica</h2>
                 <br/>
                 <br/>
                 <img src="../Imagenes/imagenes servicios/Bateria.png" alt="Bateria" class="tarjetas__imagenes--size">
                 <br/>
                 <br/>
                 <ul>
                     <li class="menu__item">Electricidad</li>
                     <li class="menu__item">Baterias</li>
                     <li class="menu__item">Cambio de filtros</li>
                     <li class="menu__item">Cambio de aceite</li>
                 </ul>
            </div>
            <div class="tarjetas--boxsize">
                <h2>Mecanica general</h2>
                <br/>
                <br/>
                <img src="../Imagenes/imagenes servicios/Mecnica general.png" alt="Herramientas" class="tarjetas__imagenes--size">
                <br/>
                <br/>
                <ul>
                    <li class="menu__item">Electricidad</li>
                    <li class="menu__item">Baterias</li>
                    <li class="menu__item">Cambio de filtros</li>
                    <li class="menu__item">Cambio de aceite</li>
                </ul>
            </div>
            <div class="tarjetas--boxsize">
                <h2>Encendido</h2>
                <br/>
                <br/>
                <img src="../Imagenes/imagenes servicios/Bujias.png" alt="Bujias" class="tarjetas__imagenes--size">
                <br/>
                <br/>
                <ul>
                    <li class="menu__item">Electricidad</li>
                    <li class="menu__item">Baterias</li>
                    <li class="menu__item">Cambio de filtros</li>
                    <li class="menu__item">Cambio de aceite</li>
                </ul>
            </div>
            <div class="tarjetas--boxsize">
                <h2>Suspencion</h2>
                <br/>
                <br/>
                <img src="../Imagenes/imagenes servicios/Suspencion.png" alt="Suspencion" class="tarjetas__imagenes--size">
                <br/>
                <br/>
                <ul>
                    <li class="menu__item">Electricidad</li>
                    <li class="menu__item">Baterias</li>
                    <li class="menu__item">Cambio de filtros</li>
                    <li class="menu__item">Cambio de aceite</li>
                </ul>
           </div>
           <div class="tarjetas--boxsize">
                 <h2>Climatizacion</h2>
                 <br/>
                 <br/>
                 <img src="../Imagenes/imagenes servicios/Volante.png" alt="Volante" class="tarjetas__imagenes--size">
                 <br/>
                 <br/>
                 <ul>

                     <li class="menu__item">Electricidad</li>
                     <li class="menu__item">Baterias</li>
                     <li class="menu__item">Cambio de filtros</li>
                     <li class="menu__item">Cambio de aceite</li>
                 </ul>
            </div>
            <div class="tarjetas--boxsize">
                <h2>Frenos</h2>
                <br/>
                <br/>
                <img src="../Imagenes/imagenes servicios/Frenos.png" alt="Frenos" class="tarjetas__imagenes--size">
                <br/>
                <br/>
                <ul>
                    <li class="menu__item">Electricidad</li>
                    <li class="menu__item">Baterias</li>
                    <li class="menu__item">Cambio de filtros</li>
                    <li class="menu__item">Cambio de aceite</li>
                </ul>
           </div>
        </article>
    </section>
    <footer class="footer">
        <section class="footer__menuyimg">
         <ul class="footer__menu">
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">Nuestras redes:</li>
               <ul>
                 <li class="footer-menu__menu__item">Facebook</li>
                 <li class="footer-menu__menu__item">Instagram</li>
                 <li class="footer-menu__menu__item">Youtube</li>
               </ul>
            </div>
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">Nuestros horarios:</li>
               <ul>
                  <li class="footer-menu__menu__item">Lu-Jue 08:00 a 19:00 Hrs</li>
                  <li class="footer-menu__menu__item">Vie 08:30 a 18:30 Hrs</li>
                  <li class="footer-menu__menu__item">Sa-Dom Cerrado</li>
               </ul>
            </div>
            <div class="footer__menu--boxsize">
             <li>
                <a href="./Views/contacto.html" class="footer-menu__item">Contacto</a>
             </li>
            </div>
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">
                 <a href="./Views/ubicacion.html" class="footer-menu__item">Ubicacion</a>
             </li>
            </div>
         </ul>
         <picture>
         <img src="../Imagenes/Logo Footer.png" alt="Imagen Logo" class="footer__logo">
        </picture>
       </section>
         <br/>
         <h4 class="footer__copy">© 2022 Cor Competición, todos los derechos reservados.</h4>
     </footer>
</body>
</html>