<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/index.css">
</head>
<body>
    <header class="header">
        <nav>
            <picture>
                <img src="../Imagenes/Logo Header.png"  alt="Logo" class="header__logo">
           </picture>
           <ul class="header__menu">
                <li class="menu-header__item">
                    <a href="../index.html" class="menu-header__link">Inicio</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/servicios.html" class="menu-header__link">Nuestros servicios</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/nosotros.html" class="menu-header__link">Sobre nosotros</a>
                </li>
                <li class="menu-header__item">
                    <a href="../Views/contacto.html" class="menu-header__link">Contactanos</a>
                </li>
           </ul>
        </nav>
    </header>
    <main>
        <section id="Ubicacion">
            <article>
                <h1 class="titulo">Ubicacion</h1>
                <h2 class="semi-titulo">Nuestra direccion es LAS CASAS 3891, CABA</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6565.44364112319!2d-58.4232531783589!3d-34.63646945621282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd4a84f8038ced662!2sCor%20Competici%C3%B3n!5e0!3m2!1ses!2sar!4v1653590177584!5m2!1ses!2sar" width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__menuyimg">
         <ul class="footer__menu">
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">Nuestras redes:</li>
               <ul>
                 <li class="footer-menu__menu__item">Facebook</li>
                 <li class="footer-menu__menu__item">Instagram</li>
                 <li class="footer-menu__menu__item">Youtube</li>
               </ul>
            </div>
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">Nuestros horarios:</li>
               <ul>
                  <li class="footer-menu__menu__item">Lu-Jue 08:00 a 19:00 Hrs</li>
                  <li class="footer-menu__menu__item">Vie 08:30 a 18:30 Hrs</li>
                  <li class="footer-menu__menu__item">Sa-Dom Cerrado</li>
               </ul>
            </div>
            <div class="footer__menu--boxsize">
             <li>
                <a href="./Views/contacto.html" class="footer-menu__item">Contacto</a>
             </li>
            </div>
            <div class="footer__menu--boxsize">
             <li class="footer-menu__item">
                 <a href="./Views/ubicacion.html" class="footer-menu__item">Ubicacion</a>
             </li>
            </div>
         </ul>
         <picture>
         <img src="../Imagenes/Logo Footer.png" alt="Imagen Logo" class="footer__logo">
        </picture>
       </section>
         <br/>
         <h4 class="footer__copy">© 2022 Cor Competición, todos los derechos reservados.</h4>
     </footer>
</body>
</html>