#grilla_main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 1300px;
    margin: auto;
    row-gap: 10px;
    column-gap: 10px;
    background-color: #CAD2C5;

    #lema{
        background-size: 1300px 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #CAD2C5;
        grid-column: 1/3;
        display: flex;
        justify-content: center;

        .lema_titulo {
            color: white;
            font-family: Rye;
            font-size: 45px;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-weight: 200;
            align-self: center;

        }

    }

    #introduccion {
        grid-column: 1/2;
        grid-row: 2;

        article{

            .intro {
                text-align: center;
                padding: 40px;

                .intro_titulo {
                    color: black;
                    font-family: Rye;
                    font-size: 35px;
                    font-weight: 200;
                    text-decoration: underline;
                   
                }

                .intro_parrafo {
                    font-family: Lato;
                    font-size: 20px;
                    font-weight: 800;

                }
            }
        }
    }

    #Intro_imagen {
        grid-column: 2/3;
        grid-row: 2;
        background-color: #CAD2C5;

        .intro__imagen{
            width: fit-content;
            height: fit-content;

        }
    }

    #valores_imagen {
        grid-column: 1/2;
        grid-row: 3;

        
    }

    #nuestros-valores {
        grid-column: 2/3;
        grid-row: 3;
        

        article {

            .valores {
                text-align: center;
                padding: 40px;

                .valores__titulo {
                    color: black;
                    font-family: Rye;
                    font-size: 35px;
                    font-weight: 200;
                    text-decoration: underline;

                }

                .valores__parrafo {
                    font-family: Lato;
                    font-size: 20px;
                    font-weight: 800;

                }
            }

        }

    }

    #Marcas{
        grid-column: 1/3;
        grid-row: 4;
        padding-bottom: 15px;
        background-color: #84A98C;

        .Marcas{

            .Marcas__logos{
                display: grid;
                grid-template-columns: repeat(6,auto);
                grid-auto-flow: repeat (1,auto);
                justify-content: center;

                .Marcas-vol__logos--size{
                    height: 130px;
                    width: 250px;
                    margin: 0px 2px;
                    margin-top: 25px;
                    animation-name: rotateLogo;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    
                }

                .Marcas-audi__logos--size{
                    height: 150px;
                    width: 200px;
                    margin: 0px 10px;
                    margin-top: 25px;

                }



                .Marcas-ford__logos--size{
                    height: 150px;
                    width: 230px;
                    margin: 0px 10px;
                    margin-top: 25px;

                }

                .Marcas-bmw__logos--size{
                    height: 130px;
                    width: 130px;
                    margin: 0px 30px;
                    margin-top: 25px;
                    animation-name: rotateLogo;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;

                }

                .Marcas-ni__logos--size{
                    height: 130px;
                    width: 130px;
                    margin: 0px 40px;
                    margin-top: 25px;
                    animation-name: rotateLogo;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;

                }

                .Marcas-chev__logos--size{
                    height: 100px;
                    width: 200px;
                    margin: 0px 40px;
                    margin-top: 25px;

                }

                .Marcas-mer__logos--size{
                    animation-name: rotateLogo;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    height: 125px;
                    width: 175px;
                    margin: 0px 15px;
                    margin-top: 25px;

                }
            }

            .Marcas__logos-intermedios{
                display: grid;
                grid-template-columns: repeat(3,auto);
                grid-auto-flow: repeat (1,auto);
                justify-content: center;

                .Marcas-reno__logos--size{
                    height: 130px;
                    width: 130px;
                    margin: 0px 40px;

                }

                .marcas__titulo{
                    text-align: center;
                    color: white;
                    font-family: Rye;
                    font-size: 35px;
                    font-weight: 200;
                    text-transform: uppercase;
                    display: inline;
                    margin: 0px 140px;

                }

                .Marcas__logos--size{
                    height: 130px;
                    width: 130px;
                    margin: 0px 40px;
                    margin-top: 25px;

                }
            }
        }   

    }
}