.Servicios {
    
     #Servicios {
         background-color: #CAD2C5;

         #grid_servicios {
             display: grid;
             grid-template-columns: repeat( 3 ,auto);
             grid-template-rows: repeat(3 ,auto);
             max-width: 1200px;
             margin: 0 auto;
             row-gap: map-get($spacings, spacing-medium);
             column-gap: map-get($spacings, spacing-small);

             .tarjetas--title{
                grid-column: 1/4;

                h1 {
                    @include text(black, Rye, 40px, 200);
                    text-decoration: underline;
                    text-transform: uppercase;
                    text-align: center;

                }
             }
             .tarjetas--boxsize{
                 max-width: 100%;
                 background-color: #84A98C;
                 margin: 30px;
                 text-align: center;
                 border: 10px;
                 border-color: black;
                 border-style: double;

                 h2 {
                    @include text(white, Rye, 32px, 200);
                    text-transform: uppercase;
                    text-align: center;

                 }

                 .tarjetas__imagenes--size{
                    @include sizes(290px, 260px)
                 }

                 .menu__item{
                    @include text(white, Lato, 24px, 800);
                    text-align: center;
                    line-height: 45px;
                    list-style: none;
                 }
            }
         }
     }
}